@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 252, 245;
  --foreground-rgb: 26, 26, 26;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFCF5; /* Cor Creme */
  color: #1A1A1A;
}

/* Remove barra de rolagem horizontal se houver overflow */
body {
  overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}